.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.main-content.sia-full-width {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  overflow-x: hidden;
}
